@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-dark-blue: #001931;
}

@layer base {
  .text-linear {
    @apply bg-linear-to-tl from-[#9F62F2] to-[#632EE3] bg-clip-text text-transparent;
  }
  .hover-text-liner {
    @apply hover:bg-linear-to-tl hover:from-[#9F62F2] hover:to-[#632EE3] hover:bg-clip-text hover:text-transparent;
  }
  .after-bg-liner {
    @apply after:bg-linear-to-tl after:from-[#9F62F2] after:to-[#632EE3];
  }
  .bg-linear {
    @apply bg-linear-to-tl from-[#9F62F2] to-[#632EE3];
  }
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f5f5f5;
}
